.mff{ width:100% }

.img-container {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around
}

.type {
    color:white;
}

.grass {
    background-color: #78C850;
    border: 1px solid #4E8234;
}

.poison {
    background: #A040A0;
    border: 1px solid #682A68;
}

.fire {
    background: #F08030;
    border: 1px solid #9C531F;
}

.flying {
    background: #A890F0;
    border: 1px solid #6D5E9C;
}

.water {
    background: #6890F0;
    border: 1px solid #445E9C;
}

.bug {
    background: #A8B820;
    border: 1px solid #6D7815;
}

.normal {
    background: #A8A878;
    border: 1px solid #6D6D4E;
}

.electric {
    background: #F8D030;
    border: 1px solid #A1871F;
}

.ground {
    background: #E0C068;
    border: 1px solid #927D44;
}

.fairy {
    background: #EE99AC;
    border: 1px solid #9B6470;
}

.fighting {
    background: #C03028;
    border: 2px solid #D67873;
}

.psychic {
    background: #F85888;
    border: 1px solid #A13959;
}

.rock {
    background: #B8A038;
    border: 1px solid #786824;
}

.ice {
    background: #98D8D8;
    border: 1px solid #638D8D;
}

.dragon {
    background: #7038F8;
    border: 1px solid #4924A1;
}

.ghost {
    background: #705898;
    border: 1px solid #493963;
}

.dark {
    background: #705848;
    border: 1px solid #49392F;
}

.steel {
    background: #B8B8D0;
    border: 1px solid #787887;
}