<div class="content">

    <div *ngIf="pokemonSearch.name != '' else pokemonDetails">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
            <div class="card-header">
                <h5 class="card-title">
                    {{pokemonSearch.id}} {{pokemonSearch.name | titlecase}}
                </h5>
            </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-12 col-md-12">
                    <div class="img-container">
                        <img [src]="pokemonSearch.sprites?.front_default?? ''" [style]="{'max-width':'100%'}"/>
                    </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="numbers">
                          <p class="card-title"><p>
                        </div>
                    </div>
                    <hr>
                    <div class="ml-auto mr-auto">
                        <mat-form-field class="stats">
                            <mat-chip-list class="type">
                                <div *ngFor="let types of pokemonSearch.types">
                                    <mat-chip [class]=types.type?.name>
                                        {{types.type?.name |titlecase}}
                                    </mat-chip>
                                </div>
                            </mat-chip-list>
                        </mat-form-field>
                    </div>
                </div>
              </div>
              <div class="card-footer">
                <hr>
                <div class="update ml-auto mr-auto">
                    <button type="button" class="btn btn-secondary btn-round" (click)="modifyTeam(pokemonSearch)"> {{ pokemonSearch.isSelected ? 'Remove Pokemon' : 'Add Pokemon' }}</button>
                </div>
              </div>
            </div>
        </div>
    </div>
    
    <app-team (selectedPokemon)="setSearchOrSelected($event)"></app-team>
    <ng-template #pokemonDetails></ng-template>

    <div class="row">
        <div *ngFor="let pokemon of pokemonList" class="col-lg-2 col-md-4 col-sm-4">
            <div class="card card-stats">
                <div class="card-header">
                    <h5 class="card-title">
                        {{pokemon.id}} {{pokemon.name | titlecase}}
                    </h5>
                </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12 col-md-12">
                        <div class="img-container">
                            <img [src]="pokemon.sprites?.front_default?? ''" [style]="{'max-width':'100%'}"/>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="numbers">
                              <p class="card-title"><p>
                            </div>
                        </div>
                        <hr>
                        <div class="ml-auto mr-auto">
                            <mat-form-field class="stats">
                                <mat-chip-list class="type">
                                    <div *ngFor="let types of pokemon.types">
                                        <mat-chip [class]="types.type?.name">
                                            {{types.type?.name |titlecase}}
                                        </mat-chip>
                                    </div>
                                </mat-chip-list>
                            </mat-form-field>
                        </div>
                    </div>
                  </div>
                  <div class="card-footer">
                    <hr>
                    <div class="update ml-auto mr-auto">
                        <button type="button" class="btn btn-secondary btn-round" (click)="getById(pokemon.id, true)">Ver Pokemon</button>
                    </div>
                  </div>
                </div>
            </div>
    </div>
</div>
