<p-fieldset legend="Testing">
    <form>
        <span class="p-float-label">
            <input id="pokeNameId" name="pokeNameId" type="text" pInputText [(ngModel)]="pokeNameId"> 
            <label for="pokeNameId">Pokemon Name or ID</label>
        </span>
        <button pButton pRipple type="button" label="Primary" class="p-button-rounded" (click)="getPokemon()"></button>
    </form>
</p-fieldset>
<br>
<p-fieldset legend="Pokemon Data">
    <h5>ID</h5>
    <p>{{pokemonSearch.id}}</p>
    <h5>Name</h5>
    <p>{{pokemonSearch.name | titlecase}}</p>
    <h5>Abilities</h5>
    <li *ngFor="let abilities of pokemonSearch.abilities">
        <span>{{abilities.ability?.name |titlecase}}</span>
    </li>
    <h5>Image</h5>
    <img [src]="pokemonSearch.sprites?.front_default?? ''"/>
</p-fieldset>
<br>
<p-dataView #dv [value]="pokemonList" [rows]="10" [paginator]="true" >
    <p-header>
        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
    </p-header>
    <ng-template let-pokemon pTemplate="listItem">
        <div>
            {{pokemon.name | titlecase}} ({{pokemon.id}})
            <img [src]="pokemon.sprites?.front_default?? ''"/>
        </div>
    </ng-template>
    <ng-template let-pokemon pTemplate="gridItem">
        <div class="p-col-12 p-md-4">
            <div class="product-grid-item card">
                <div class="product-grid-item-content">
                    <div class="product-name">{{pokemon.name}} ({{pokemon.id}})</div>
                    <img [src]="pokemon.sprites?.front_default?? ''" [alt]="pokemon.name" [style]="{'width': '25%'}"/>
                </div>
            </div>
        </div>
    </ng-template>
</p-dataView>
<!-- <hr>
<div *ngFor="let pokemon of pokemonList">
    <p-card class="col-3">
        <p-fieldset legend="{{pokemon.name | titlecase}} ({{pokemon.id}})" [collapsed]="true" [toggleable]="true" 
            [style]="{'width': '250px'}">
            <img [src]="pokemon.sprites?.front_default?? ''"/>
            <h5>Abilities</h5>
            <span *ngFor="let abilities of pokemon.abilities">
                <p-chip label="{{abilities.ability?.name |titlecase}}"></p-chip>
            </span>
        </p-fieldset>
    </p-card>
</div> -->