<div class="sidebar-wrapper">
    <div class="logo">
      <a href="http://www.creative-tim.com" class="simple-text logo-mini">
        <div class="logo-image-small">
          <img src="assets/img/angular2-logo.png">
        </div>
      </a>
      <a href="https://www.creative-tim.com" class="simple-text logo-normal">
        Creative Tim
      </a>
    </div>
      <ul class="nav">
          <li>
              <a>
                <button type="button" class="btn btn-secondary" (click)="setGeneration(1)">Generation 1</button>
              </a>
          </li>
          <li>
                <a>
                <button type="button" class="btn btn-secondary" (click)="setGeneration(2)">Generation 2</button>
                </a>
            </li>
            <li>
                <a>
                    <button type="button" class="btn btn-secondary" (click)="setGeneration(3)">Generation 3</button>
                </a>
            </li>
            <li>
                <a>
                    <button type="button" class="btn btn-secondary" (click)="setGeneration(10)">See Pokemon List</button>
                </a>
            </li>
      </ul>
  </div>