<div class="sidebar-wrapper">
    <div class="logo">
      <a href="http://www.creative-tim.com" class="simple-text logo-mini">
        <div class="logo-image-small">
          <img src="assets/img/poke.png">
        </div>
      </a>
      <a href="https://www.creative-tim.com" class="simple-text logo-normal">
        Team Generator
      </a>
    </div>
      <ul class="nav">
          <li *ngFor="let gen of generations">
              <a>
                <button type="button" class="btn btn-secondary" (click)="setGeneration(gen)">Generation {{gen}}</button>
              </a>
          </li>
            <li>
                <a>
                    <button type="button" class="btn btn-secondary" (click)="setGeneration(10)">See Pokemon List</button>
                </a>
            </li>
      </ul>
  </div>