<div class="container">
    <div class="logo">
        <i class="nes-pokeball"></i> 
        <i class="nes-ash"></i>
        <br>
        <span class="nes-text is-error">Team Generator</span>
    </div>
    
    <div *ngFor="let gen of generations">
        <button style="margin: 0.5em auto 0.5em;" type="button" class="nes-btn is-primary sidebar-button" (click)="setGeneration(gen)">Generation {{gen}}</button>
    </div>
    <button style="margin: 0.5em auto 0.5em" type="button" class="nes-btn" (click)="setGeneration(10)">See Pokemon List</button>
</div>
