<br>
<div class="" style="margin: 1rem auto 1rem;">
    <div class="nes-table-responsive">
        <table class="nes-table is-bordered is-centered">
          <thead> 
            <tr>
                <th>Attacker &#8595;</th>
                <th *ngFor="let key of effectivenessTable">
                    <a class="nes-badge">
                        <span [class]="key.TYPE">{{key.TYPE |titlecase}}</span>
                    </a>
                    
                </th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of effectsTable">
                <td>
                    <a class="nes-badge">
                        <span [class]="row.key" style="margin: 0;">{{row.key |titlecase}}</span>
                    </a>
                </td>
                <td *ngFor="let value of row.values">
                    <div *ngIf="value == 2">
                        <a class="nes-badge">
                            <span class="is-success">2</span>
                        </a>
                    </div>
                    <div *ngIf="value == 1">
                        <a class="nes-badge">
                            <span class="is-primary">1</span>
                        </a>
                    </div>
                    <div *ngIf="value == 0.5">
                        <a class="nes-badge">
                        <span class="is-error">0.5</span>
                        </a>
                    </div>
                    <div *ngIf="value == 0">
                        <a class="nes-badge">
                            <span class="is-dark">0</span>
                        </a>
                    </div>
                </td>
            </tr>
            
          </tbody>
        </table>
      </div>
</div>