<h2>
    Aqui vamos a mostrar la tabla de tipos
</h2>

<div class="" style="margin: 1rem auto 1rem;">
    <div class="nes-table-responsive">
        <table class="nes-table is-bordered is-centered">
          <thead> 
            <tr>
                <th></th>
                <th *ngFor="let key of effectivenessTable">
                    <a class="nes-badge">
                        <span [class]="key.TYPE">{{key.TYPE |titlecase}}</span>
                    </a>
                    
                </th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let key of effectivenessTable">
                <td>
                    <a class="nes-badge">
                        <span [class]="key.TYPE" style="margin: 0;">{{key.TYPE |titlecase}}</span>
                    </a>
                </td>
                <td *ngFor="let index of tableKeys">
                  <div *ngIf="getTypeEffectiveness(key.TYPE, index) == 2">
                    <a href="#" class="nes-badge">
                      <span class="is-success">{{getTypeEffectiveness(key.TYPE, index)}}</span>
                    </a>
                  </div>
                  <div *ngIf="getTypeEffectiveness(key.TYPE, index) == 1">
                    <a href="#" class="nes-badge">
                      <span class="is-primary">{{getTypeEffectiveness(key.TYPE, index)}}</span>
                    </a>
                  </div>
                  <div *ngIf="getTypeEffectiveness(key.TYPE, index) == 0.5">
                    <a href="#" class="nes-badge">
                      <span class="is-error">{{getTypeEffectiveness(key.TYPE, index)}}</span>
                    </a>
                  </div>
                  <div *ngIf="getTypeEffectiveness(key.TYPE, index) == 0">
                    <a href="#" class="nes-badge">
                      <span class="is-dark">{{getTypeEffectiveness(key.TYPE, index)}}</span>
                    </a>
                  </div>
                    
                </td>
            </tr>
            
          </tbody>
        </table>
      </div>
</div>